@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  flex-direction: column;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;

  background: rgb(112, 8, 141);
  background: linear-gradient(
    115deg,
    rgba(112, 8, 141, 1) 35%,
    rgba(0, 106, 160, 1) 100%
  );
}

.container {
  margin: auto;
  margin-top: 10%;
  background-color: antiquewhite;
  padding: 40px;
  width: 40vw;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-input {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  position: relative;
}

.list-input input {
  width: 100%;
  height: 7vh;
  border-radius: 40px;
  border: 1px gray solid;
  padding-left: 5vh;
  font-size: 20px;
  outline: none;
}

.list-input::placeholder {
  text-align: center;
}

.list-input button {
  position: absolute;
  background-color: rgb(255, 190, 70);
  height: 7vh;
  border-radius: 40px;
  border: 1px solid gray;
  width: 50%;
  font-size: 20px;
  font-weight: lighter;
  color: black;
}

.list-input button:hover {
  background-color: rgb(242, 171, 40);
}

.list-input button:disabled {
  border: 1px solid gray;

  background-color: gray;
}

.element-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
}

.element-list li {
  list-style: none;
  font-size: 20px;
  position: relative;
  width: 80%;
}

.element-list div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 100%;
}

.checker,
.delete {
  width: 5vh;
  height: 5vh;
  padding: 0;
}

.checker {
  border: 1px gray solid;
  border-radius: 50%;
}

.checker.active {
  background-image: url(Checker.png);
  background-size: 100% 100%;

  border-radius: 50%;
  border: 1px gray solid;
}

.delete {
  font-weight: bold;
  color: white;
  background-color: rgb(255, 91, 91);
  border: 1px solid gray;
  border-radius: 100%;
}

.element-list li.active {
  text-decoration: line-through;
}
@media screen and (max-width: 800px) {
  .container {
    width: 90vw;
    padding: 20px;
  }

  .list-input button {
    position: relative;
    width: 100%;
  }
  .list-input {
    flex-direction: column;
    gap: 20px;
  }
  .list-input input::placeholder {
    font-size: 18px;
  }
  .list-input input {
    padding-left: 0;
    text-align: center;
  }
  .delete,
  .checker {
    height: 6vh;
    width: 6vh;
  }
  .element-list li {
    width: 65%;
  }
  .element-list div {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 801px) and (max-width: 1439px) {
  .list-input button {
    position: relative;
    width: 100%;
  }
  .list-input {
    flex-direction: column;
    gap: 20px;
  }
  .list-input input::placeholder {
    font-size: 18px;
  }
}
.fade-in {
  animation: fadeIn 0.5s ease forwards;
  opacity: 0;
}

.fade-out {
  animation: fadeOut 0.5s ease forwards;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
