@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar {
  /*For Safari*/
  width: 0;
  background: transparent;
}

body {
  font-family: "Roboto";
  flex-direction: column;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #161616;
}

.container {
  margin: auto;
  margin-top: 10%;
  background-color: #302f57;
  padding: 40px;
  width: 400px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 0;
}
.list-items {
  min-height: 150px;
  max-height: 300px;
  overflow-y: scroll;
}
.list-input {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  position: relative;
}

.list-input input {
  width: 100%;
  height: 7vh;
  border-radius: 40px;
  border: 1px gray solid;
  padding-left: 15px;
  font-size: 20px;
  outline: none;
  background-color: #27264d;
  border-color: #27264d;
  color: white;
}

.list-input button {
  position: absolute;
  background-color: #3372ab;
  border-radius: 40px;
  border: 1px solid #3372ab;
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin-right: 15px;
  font-weight: lighter;
  color: white;
}

.list-input button:hover {
  background-color: rgb(242, 171, 40);
}

.list-input button:disabled {
  border: 1px solid gray;

  background-color: gray;
}

.element-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
}

.element-list li {
  list-style: none;
  font-size: 20px;
  position: relative;
  width: 80%;
}

.element-list div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  height: 50px;
  padding: 10px;
  width: 100%;
  background-color: #414166;
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 2px #292929;
}

.checker,
.delete {
  height: 35px;
  width: 35px;
  padding: 0;
}

.checker {
  border: 1px white solid;
  border-radius: 50%;
}

.checker:hover {
  background-color: orange;
  border-color: orange;
}
.delete:hover {
  background-color: crimson;
  border-color: crimson;
}

.checker.active {
  background-image: url(Checker.png);
  background-size: 100% 100%;

  border-radius: 50%;
  border: 1px gray solid;
}

.delete {
  font-weight: bold;
  color: white;
  background-color: rgb(255, 91, 91);
  border: 1px solid rgb(255, 91, 91);
  border-radius: 100%;
  text-align: center;
}

.element-list li.active {
  text-decoration: line-through;
}

@media (max-width: 450px) {
  .container {
    width: 300px;
    padding: 20px;
  }
  .checker,
  .delete {
    height: 30px;
    width: 30px;
    padding: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease forwards;
  opacity: 0;
}

.fade-out {
  animation: fadeOut 0.5s ease forwards;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
